<h1>Your Text Analysis</h1>

<h3>Number of Words: <%= @analyzed_text.count_of_words %></h3>

<h3>Vowels: <%= @analyzed_text.count_of_vowels %></h3>

<h3>Consonants: <%= @analyzed_text.count_of_consonants%></h3>
  <% hash = @analyzed_text.most_used_letter%> 
  <% hash.each do |letter, number| %>
<h3>Most Common Letter: <%= letter.capitalize %>, used <%= number %> times</h3>
  <% end %>