<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= @analyzed_text.count_of_words %></h2>

<h2>Vowels: <%= @analyzed_text.count_of_vowels %></h2>

<h2>Consonants: <%= @analyzed_text.count_of_consonants %></h2>

<% word_hash = @analyzed_text.most_used_letter %>

<h2>Most Common Letter: <%= word_hash.keys.first.upcase %>, used <%= word_hash.values.first %> times</h2>
