<h1>Your Text Analysis</h1>

<h2>Number of Words: </h2>
<%= @text_analyzer.count_of_words %>
<h2>Vowels: </h2>
<%= @text_analyzer.count_of_vowels %>
<h2>Consonants: </h2>
<%= @text_analyzer.count_of_consonants %>
<h2>Most Common Letter: <%= @text_analyzer.most_used_letter.keys[0].upcase %>, used <%= @text_analyzer.most_used_letter[@text_analyzer.most_used_letter.keys[0]] %> times</h2>
